app/upgradeadvisory_helper/customconfig.js
_generated/assets/css/loading-bar.css
_generated/assets/css/main.css
_generated/assets/hbs_templates/footer.js
_generated/assets/hbs_templates/header_menu.js
_generated/assets/hbs_templates/result.js
_generated/assets/hbs_templates/resulttable.js
_generated/assets/hbs_templates/scripts.js
