
    <div class="header_menu">
        <ul class="horiz_menu">
            <li>
                <a href="/prepareadvisory" >Upgrade Advisory</a>
            </li>
            <li>
                <a href="/topologybuilder" >Topology builder</a>
            </li>
            <li>
                <a href="/compareconfig" >Configuration Comparison tool</a>
            </li>
        </ul>
    </div>