{{!-- adding client side socket io to handle reports from uahelper --}}

<!--div class="ldBar" data-value=""></div -->


<div>
    
    <div id='loadBar'>
    <div id="loadBar-background"></div>
        <div id="loadBar-inner">
            <div id="myItem1" ></div>
        </div>
        </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#conflist_tab" aria-expanded="false">Configuration Lists</a>
        </li>
        <li class>
            <a href="#result_tab" aria-expanded="false">Results</a>
        </li>
        <li class>
            <a href="#tasks_tab" aria-expanded="false">Tasks</a>
        </li>
        <li class>
            <a href="#console_tab" aria-expanded="false">Console</a>
        </li>
                <li class>
            <a href="#stat_tab" aria-expanded="false">Statistics</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="conflist_tab">
            <div id="configlist_container">
                <h1>Configuration list </h1>
                <p>
                    Add components into the configuration list to save it and use for later.
                </p>
                <ul>
                    <li>Name:
                        <span id="configlist_name"></span>
                    </li>
                    <li>_id:
                        <span id="configlist_docid"></span>
                    </li>
                    <li>_rev:
                        <span id="configlist_revid"></span>
                    </li>
                    <li>Creation time:
                        <span id="configlist_time"></span>
                    </li>
                    <li>Updated time:
                        <span id="configlist_updated"></span>
                    </li>
                </ul>



                <div id="config_list" class="table-editable" style="visibility: hidden">
                    <span class="table-add glyphicon glyphicon-plus"></span>
                    <table id="config_list_t" class="table">
                        <tr id="config_list_t_header">
                        </tr>
                        <!-- This is our clonable table line -->
                        <!-- This is our clonable table line -->
                        <tr class="hide">
                            <td contenteditable="true">Untitled</td>
                            <td contenteditable="true">undefined</td>
                            <td>
                                <span class="table-remove glyphicon glyphicon-remove"></span>
                            </td>
                            <td>
                                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                                <span class="table-down glyphicon glyphicon-arrow-down"></span>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="modal fade" id="configlist_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Save configuration list</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="configlist-name" class="col-form-label">Enter configuration list name:</label>
                                        <input type="text" class="form-control" id="configlist-name">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="save-event">Save configuration list</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="configlist_update_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Updating configuration list</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Configuration list has been changed, do you want to save it?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="update-event">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="configlist_delete_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deleting configuration list</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please confirm deletion of configuration list</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="delete-event">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="configlist_forced_update_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning! Configuration list is not saved</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>There are unsaved changes in configuration list. Do you want to save them before resetting to a new
                            configuration list?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="forced-update-event">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="reset-event">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="result_tab">
            <form id="form_generate">
                <div id="result">

                </div>
                <div id="generate" style="visibility: hidden">
                    <label>Generate report:</label>
                    <!--button id='docx'>Docx</button -->
                    <!-- button id='xlsx'>Xlsx</button -->

                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="tasks_tab">
            <div id="tasksContainer">
                <h3>Executed tasks</h3>
                <form id="form_tasks">
                    <table id="tasks" class="table">
                        <tr>
                            <th>Delete</th>
                            <th>Time</th>
                            <th>Arguments</th>
                            <th>ID</th>
                        </tr>
                    </table>
                    <div>
                        <button>Delete</button>
                    </div>
                </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="stat_tab">
            <div id="statContainer">
                <h3>Summary overview of release notes per solution, component, os type and family</h3>

                <p>
                    <button type="button" class="btn btn-primary" id="get-statdata-event">Pull statistics</button>
                </p>
                <div id="dbinfo" class="table-editable" style="visibility: hidden"></div>
                <div id="stat_data" class="table-editable" style="visibility: hidden">
                    
                    <table id="stat_data_t" class="table">
                        <tr id="stat_data_t_header">
                        </tr>
                        <!-- This is our clonable table line -->
                        <!-- This is our clonable table line -->
                        <tr class="hide">
                            <td contenteditable="true">Untitled</td>
                            <td contenteditable="true">undefined</td>
                            <td>
                                <span class="table-remove glyphicon glyphicon-remove"></span>
                            </td>
                            <td>
                                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                                <span class="table-down glyphicon glyphicon-arrow-down"></span>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="console_tab">
            <div id="console"></div>
        </div>
    </div>

</div>