{{!-- adding client side socket io to handle reports from uahelper --}}

<!--div class="ldBar" data-value=""></div -->
<div id="myItem1"></div>
<form id="form_generate">
    <div id="result">

    </div>
    <div id="generate" style="visibility: hidden">
<label>Generate report:</label>
        <button id='docx'>Docx</button>
        <button id='xlsx'>Xlsx</button>

    </div>
</form>
<div id="tasksContainer">
    <h3>Executed tasks</h3>
    <form id="form_tasks">
        <table id="tasks">
            <tr>
                <th>Delete</th>
                <th>Time</th>
                <th>Arguments</th>
                <th>ID</th>
            </tr>
        </table>
        <div>
            <button>Delete</button>
        </div>
    </form>
</div>

<div id="console"></div>