<div id="result"></div>

<script src="/assets/js/socket.io.js "></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/assets/js/loading-bar.min.js"></script>
<script>
    var socket = io.connect('http://localhost:5000/prepareadvisory');

     socket.on('connected', function (data) {
        console.log(data);
        //$("#div_result").empty();
        Object.keys(data).forEach((key) => { $("#div_result #result").append(data[key]); })
    });
    
</script>